.caisse_epargne {
    position: relative;
    .cheque__amountLetter {
      position: absolute;
      top: calc(27mm - #{$amountText});
      text-indent: 39mm; //43- 4 de ml
      left: 4mm;
      width: 115mm;
    }
    .cheque__recipient {
      position: absolute;
      left: 4mm;
      top: calc(33mm - #{$recipient});
      width: 110mm;
    }
    .cheque__amount {
      position: absolute;
      left: 132mm;
      top: 24mm;
    }
    .cheque__city {
      position: absolute;
      left: 132mm;
      top: calc(40mm - #{$date});
      input[type="text"] {
        width: 30mm;
      }
    }
    .cheque__date {
      position: absolute;
      left: 132mm;
      width: 40mm;
      top: calc(45mm - #{$date});
    }
  }
.bpop {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(28mm - #{$amountText});
        text-indent: 27mm; //31- 4 de ml
        left: 4mm;
        width: 115mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 4mm;
        top: calc(33mm - #{$recipient});
        width: 110mm;
    }
    .cheque__amount {
        position: absolute;
        left: 133mm;
        top: 24mm;
    }
    .cheque__city {
        position: absolute;
        left: 95mm;
        top: calc(42mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 133mm;
        width: 40mm;
        top: calc(42mm - #{$date});
    }
}
.axa {
  position: relative;
  .cheque__amountLetter {
      position: absolute;
      top: calc(28mm - #{$amountText});
      text-indent: 38mm; //42- 4 de ml
      left: 4mm;
      width: 110mm;
  }
  .cheque__recipient {
      position: absolute;
      left: 4mm;
      top: calc(32mm - #{$recipient});
      width: 104mm;
  }
  .cheque__amount {
      position: absolute;
      left: 133mm;
      top: 24mm; //(32 - !)
  }
  .cheque__city {
      position: absolute;
      left: 85mm;
      top: calc(40mm - #{$date});
      input[type="text"] {
      width: 30mm;
      }
  }
  .cheque__date {
      position: absolute;
      left: 131mm;
      width: 40mm;
      top: calc(40mm - #{$date});
  }
}
.bnp {
  position: relative;
  .cheque__amountLetter {
      position: absolute;
      top: calc(28mm - #{$amountText});
      text-indent: 42mm; //47- 5 de ml
      left: 5mm;
      width: 115mm;
  }
  .cheque__recipient {
      position: absolute;
      left: 5mm;
      top: calc(33mm - #{$recipient});
      width: 114mm;
  }
  .cheque__amount {
      position: absolute;
      left: 133mm;
      top: 24mm; //(32 - 8)
  }
  .cheque__city {
      position: absolute;
      left: 87mm;
      top: calc(45mm - #{$date});
      input[type="text"] {
      width: 30mm;
      }
  }
  .cheque__date {
      position: absolute;
      left: 130mm;
      width: 40mm;
      top: calc(45mm - #{$date});
  }
}
.credit_mutuel {
  position: relative;
  .cheque__amountLetter {
      position: absolute;
      top: calc(27mm - #{$amountText});
      text-indent: 35mm; //45 - 10 de ml
      left: 10mm;
      width: 122mm;
  }
  .cheque__recipient {
      position: absolute;
      left: 10mm;
      top: calc(32mm - #{$recipient});
      width: 107mm;
  }
  .cheque__amount {
      position: absolute;
      left: 133mm;
      top: 26mm; //(34 - 8)
  }
  .cheque__city {
      position: absolute;
      left: 133mm;
      top: calc(42mm - #{$date});
      input[type="text"] {
      width: 30mm;
      }
  }
  .cheque__date {
      position: absolute;
      left: 133mm;
      width: 40mm;
      top: calc(46mm - #{$date});
  }
}
.hsbc {
  position: relative;
  .cheque__amountLetter {
      position: absolute;
      top: calc(29mm - #{$amountText});
      left: 5mm;
      width: 117mm;
  }
  .cheque__recipient {
      position: absolute;
      left: 5mm;
      top: calc(33mm - #{$recipient});
      width: 114mm;
  }
  .cheque__amount {
      position: absolute;
      left: 133mm;
      top: 24mm; //(32 - 8)
  }
  .cheque__city {
      position: absolute;
      left: 81mm;
      top: calc(42mm - #{$date});
      input[type="text"] {
        width: 30mm;
      }
  }
  .cheque__date {
      position: absolute;
      left: 133mm;
      width: 40mm;
      top: calc(42mm - #{$date});
  }
}
.banque_postale {
  position: relative;
  .cheque__amountLetter {
      position: absolute;
      top: calc(28mm - #{$amountText});
      text-indent: 40mm; //45 - 5 de ml
      left: 5mm;
      width: 110mm;
  }
  .cheque__recipient {
      position: absolute;
      left: 10mm;
      top: calc(33mm - #{$recipient});
      width: 105mm;
  }
  .cheque__amount {
      position: absolute;
      left: 133mm;
      top: 25mm; //(33 - 8)
  }
  .cheque__city {
      position: absolute;
      left: 133mm;
      top: calc(41mm - #{$date});
      input[type="text"] {
      width: 30mm;
      }
  }
  .cheque__date {
      position: absolute;
      left: 133mm;
      width: 40mm;
      top: calc(47mm - #{$date});
  }
}
.credit_agricole {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(28mm - #{$amountText});
        text-indent: 24mm; //30- 6 de ml
        left: 6mm;
        width: 115mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 6mm;
        top: calc(33mm - #{$recipient});
        width: 110mm;
    }
    .cheque__amount {
        position: absolute;
        left: 129mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 135mm;
        top: calc(42mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 135mm;
        width: 40mm;
        top: calc(48mm - #{$date});
    }
}
.banque_kolb {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(27mm - #{$amountText});
        left: 8mm;
        width: 125mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 8mm;
        top: calc(32mm - #{$recipient});
        width: 120mm;
    }
    .cheque__amount {
        position: absolute;
        left: 131mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 135mm;
        top: calc(40mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 135mm;
        width: 40mm;
        top: calc(46mm - #{$date});
    }
}
.banque_rhone_alpes {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(27mm - #{$amountText});
        text-indent: 35mm; //45 - 10 de ml
        left: 10mm;
        width: 116mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 10mm;
        top: calc(32mm - #{$recipient});
        width: 113mm;
    }
    .cheque__amount {
        position: absolute;
        left: 131mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 133mm;
        top: calc(40mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 133mm;
        width: 40mm;
        top: calc(46mm - #{$date});
    }
}
.banque_scalbert_dupont {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(27mm - #{$amountText});
        text-indent: 35mm; //40 - 5 de ml
        left: 5mm;
        width: 105mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 5mm;
        top: calc(31mm - #{$recipient});
        width: 110mm;
    }
    .cheque__amount {
        position: absolute;
        left: 132mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 132mm;
        top: calc(40mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 132mm;
        width: 40mm;
        top: calc(45mm - #{$date});
    }
}
.caixabank {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(30mm - #{$amountText});
        left: 5mm;
        width: 117mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 5mm;
        top: calc(33mm - #{$recipient});
        width: 115mm;
    }
    .cheque__amount {
        position: absolute;
        left: 134mm;
        top: 26mm; //(34 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 131mm;
        top: calc(43mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 131mm;
        width: 40mm;
        top: calc(47mm - #{$date});
    }
}
.credit_industriel_commercial {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(26mm - #{$amountText});
        text-indent: 22mm; //27 - 5 de ml
        left: 5mm;
        width: 110mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 5mm;
        top: calc(31mm - #{$recipient});
        width: 105mm;
    }
    .cheque__amount {
        position: absolute;
        left: 132mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 131mm;
        top: calc(40mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 131mm;
        width: 40mm;
        top: calc(45mm - #{$date});
    }
}
.credit_agricole2 {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(28mm - #{$amountText});
        text-indent: 30mm; //40- 10 de ml
        left: 10mm;
        width: 111mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 10mm;
        top: calc(32mm - #{$recipient});
        width: 108mm;
    }
    .cheque__amount {
        position: absolute;
        left: 135mm;
        top: 17mm; //(25 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 73mm;
        top: calc(43mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 137mm;
        width: 40mm;
        top: calc(43mm - #{$date});
    }
}
.credit_cooperatif {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(27mm - #{$amountText});
        left: 5mm;
        width: 115mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 5mm;
        top: calc(33mm - #{$recipient});
        width: 114mm;
    }
    .cheque__amount {
        position: absolute;
        left: 135mm;
        top: 21mm; //(29 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 80mm;
        top: calc(37mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 132mm;
        width: 40mm;
        top: calc(37mm - #{$date});
    }
}
.credit_lyonais {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(28mm - #{$amountText});
        left: 10mm;
        width: 112mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 10mm;
        top: calc(33mm - #{$recipient});
        width: 114mm;
    }
    .cheque__amount {
        position: absolute;
        left: 133mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 133mm;
        top: calc(43mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 133mm;
        width: 40mm;
        top: calc(49mm - #{$date});
    }
}
.credit_lyonais2 {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(29mm - #{$amountText});
        left: 8mm;
        width: 114mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 8mm;
        top: calc(34mm - #{$recipient});
        width: 112mm;
    }
    .cheque__amount {
        position: absolute;
        left: 130mm;
        top: 26mm; //(34 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 85mm;
        top: calc(43mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 130mm;
        width: 40mm;
        top: calc(43mm - #{$date});
    }
}
.credit_maritime {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(27mm - #{$amountText});
        text-indent: 82mm; //92- 10 de ml
        left: 6mm;
        width: 115mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 6mm;
        top: calc(32mm - #{$recipient});
        width: 112mm;
    }
    .cheque__amount {
        position: absolute;
        left: 133mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 133mm;
        top: calc(41mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 133mm;
        width: 40mm;
        top: calc(45mm - #{$date});
    }
}
.credit_nord{
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(25mm - #{$amountText});
        left: 3mm;
        width: 120mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 3mm;
        top: calc(31mm - #{$recipient});
        width: 119mm;
    }
    .cheque__amount {
        position: absolute;
        left: 132mm;
        top: 22mm; //(30 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 132mm;
        top: calc(40mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 132mm;
        width: 40mm;
        top: calc(45mm - #{$date});
    }
}
.fortis{
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(29mm - #{$amountText});
        left: 3mm;
        width: 120mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 3mm;
        top: calc(34mm - #{$recipient});
        width: 117mm;
    }
    .cheque__amount {
        position: absolute;
        left: 130mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 90mm;
        top: calc(43mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 130mm;
        width: 40mm;
        top: calc(43mm - #{$date});
    }
}
.lyonnaise_banque{
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(28mm - #{$amountText});
        text-indent: 42mm; //47- 5 de ml
        left: 5mm;
        width: 110mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 5mm;
        top: calc(33mm - #{$recipient});
        width: 117mm;
    }
    .cheque__amount {
        position: absolute;
        left: 130mm;
        top: 26mm; //(34 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 130mm;
        top: calc(42mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 130mm;
        width: 40mm;
        top: calc(48mm - #{$date});
    }
}
.neuflize{
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(23mm - #{$amountText});
        text-indent: 49mm; //54- 5 de ml
        left: 5mm;
        width: 115mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 5mm;
        top: calc(31mm - #{$recipient});
        width: 110mm;
    }
    .cheque__amount {
        position: absolute;
        left: 130mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 69mm;
        top: calc(41mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 120mm;
        width: 40mm;
        top: calc(41mm - #{$date});
    }
}
.societe_general{
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(27mm - #{$amountText});
        text-indent: 19mm; //24- 5 de ml
        left: 5mm;
        width: 107mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 5mm;
        top: calc(32mm - #{$recipient});
        width: 115mm;
    }
    .cheque__amount {
        position: absolute;
        left: 130mm;
        top: 21mm; //(29 - 9)
    }
    .cheque__city {
        position: absolute;
        left: 130mm;
        top: calc(39mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 130mm;
        width: 40mm;
        top: calc(45mm - #{$date});
    }
}
.societe_general2 {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(27mm - #{$amountText});
        text-indent: 20mm; //25- 5 de ml
        left: 5mm;
        width: 117mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 5mm;
        top: calc(32mm - #{$recipient});
        width: 115mm;
    }
    .cheque__amount {
        position: absolute;
        left: 135mm;
        top: 20mm; //(28 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 75mm;
        top: calc(39mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 135mm;
        width: 40mm;
        top: calc(39mm - #{$date});
    }
}
.cheque_emploi_service_universel {
    position: relative;
    .cheque__amountLetter {
        position: absolute;
        top: calc(29mm - #{$amountText});
        text-indent: 35mm; //40- 5 de ml
        left: 3mm;
        width: 105mm;
    }
    .cheque__recipient {
        position: absolute;
        left: 3mm;
        top: calc(33mm - #{$recipient});
        width: 97mm;
    }
    .cheque__amount {
        position: absolute;
        left: 133mm;
        top: 24mm; //(32 - 8)
    }
    .cheque__city {
        position: absolute;
        left: 132mm;
        top: calc(41mm - #{$date});
        input[type="text"] {
        width: 30mm;
        }
    }
    .cheque__date {
        position: absolute;
        left: 132mm;
        width: 40mm;
        top: calc(46mm - #{$date});
    }
}